/*SPACE X*/
/* Enter your Styles below! */


/*Updating these as I work my through them*/
/**/
/*Links*/
a {
	text-decoration: none;
	color: #333;
}


a:hover { color: #356; }

header, nav, main, footer {
	width: auto;
	margin: 25px;
}


/* Header styles */
header { 
	/*background-image: url('../images/spacephoto.html');*/
	/*transform: scale(1);*/

	min-height: 20px;
	width: auto;
	margin: top 25px;
	flex-basis: 1;
	border-image-width: all;
	/*background-repeat: no-repeat; */
}

h1 {
	padding: 10px 60px 10px 10px;
	font-size: 70px;
}

h2 {
	padding: 10px 10px 10px 10px;
	font-size: 50px;
}

/* Nav styles */
nav { background-color: #b3b3b3; }
nav ul { 
	display: flex;
	justify-content: left;	
}


nav li { padding: 15px 15px; }
nav a { color: #FFFFFF; }
nav a:hover { color: #FFFFFF; }

/* Main styles */
body{
/* #b3ae9e; */
	color: #ffffff;
	padding: 25,25,25,25;
	background-image: url(../images/spacephoto.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120%;
/*background-color: #0d0d0d;*/
	background-attachment: fixed;
}

/*	padding:25,25;
	
	background-position: absolute;
	border-image-repeat: no-repeat;
	position: center;
	margin:0;
	width:fill;
	height:fill;
	line-height:2em;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:2em;
*/

}

main { 
	padding: 20px, 20px,20px, 20px;
	margin-right: : 2em;
}
/*
	width: 100%;
	display: grid/;
	grid-template-columns: 3fr 1fr;
	display: grid;
	grid-template-columns: 2fr 1fr;
	color: #FFF;
	opacity: .75;
	background-color: #999;
}
*/

aside {
	color: #FFF;
	background-color: rgba(217,217,217,0.3);
	padding: 20px, 20px,20px, 20px;
	margin-right: : 2em;
}

aside ul { 
	list-style-type: none; 
	padding-left: .8em;
	margin-top: 0;
	color:#000;
}

/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
	padding-bottom: 10px;
 }



footer p { padding: 10px; }





/*section*/

/*Links*/
.logo{width: 60%;}
.spacecrafts a{ color:#fff; justify-content: center}
.crafts{
	text-align: right;
	padding: 10px 10px 10px 10px;
	font-size: 50px;
}

.tbox {
  margin: 25px;
  background-color: rgba(13,13,13,0.5);
  border: .5px solid black;
}

.tbox p{
  margin: 15px;
  font-weight: thin;
  color: #FFFFFF;
}

.first-grid {
	display: grid;
	grid-template-columns: 3fr 3fr;
	grid-gap: 1.6em;
	margin-right: 5px;
	color:#FFF;
	vertical-align: center;
}

.top-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.6em;
	margin-right: 5px;
	color:#FFF;
	vertical-align: center;
}

.second-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1.6em;
	margin-right: 0px;
	color:#FFF;
	vertical-align: center;
}
.columnA, { 
	
}
/*section ul,*/
.columnB {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	color:#FFF;
}