/*SPACE X*/
/* Enter your Styles below! */


/*Updating these as I work my through them*/
/**/
/*Links*/
a {
	text-decoration: none;
	color: #333;
}

a:hover { color: #456; }
header, nav, main, footer {
	width: 85%;
	margin: center;
}
/*Links*/



/* Header styles */
header { 
	background-image; 
	color: #191970;
	min-height: 60px;
	margin-top: 75px;
	background-color: #0F0000;

}

header h1 {
	padding: 70px 70px;
	font-size: 70px;
	background-repeat: no-repeat;
}



/* Nav styles */
nav { background-color: #444446; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 15px 15px; }
nav a { color: white; }
nav a:hover { color: grey; }
/**/



/* Main styles */
body{
	background-image: url('../images/FixedSpacebackground.html');
	background-position: 50% 50%
	background-size: contain;
	border-image-repeat: repeat;


	width:fill;
	height:fill;
	line-height:2em;">
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	
}


main { 
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: 62% 38%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
		padding: 40px 10px;
}




/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }



footer p { padding: 20px; }






